[defaults]
inventory = ./playbooks/inventory.ini
roles_path = ./roles:./playbooks/roles:../roles:~/.ansible/roles
host_key_checking = False
retry_files_enabled = False
forks = 20
stdout_callback = default
interpreter_python = auto_silent
